
   #main {
    max-width: 650px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    background-color: #040462;
    border-radius: 5px;
    padding:25px ;
  }
  
  #quest {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#df8805;
  }
  
  #opt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #ffffff;
  }
  
  label {
    margin: 10px;
  }
  
  #submit {
    margin-top: 20px;
    background-color: #095c03;
    color: white;
    border-radius: 5PX;
  }
  
  #outcome {
    font-size: 20px;
    margin-top: 20px;
    display: none;
  }
  #restart {
    margin-top: 20px;
    color: white;
    border-radius: 5PX;
    background-color: #480467;

  }
  h1{
    text-align: center;
  }