#Field {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: rgb(189, 164, 185);
    margin: 0 auto;
    border: 5px solid rgb(83, 8, 129);
    margin-top: 50px;
}

#player1,
#paddleright {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: rgb(5, 13, 101);
}

#paddleleft {
    left: 0px;
    top: 150px;
}

#player1 {
    right: 0px;
    top: 150px;
}

#ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(20, 179, 68);
    border-radius: 50%;
    left: 290px;
    top: 190px;
}

#scoreleft,
#scoreright {
    position: absolute;
    font-size: 48px;
    font-weight: bold;
}

#scoreleft {
    left: 200px;
    top: 20px;
    color: blue;
}

#scoreright {
    right: 200px;
    top: 20px;
    color: blue;
}